* {
    margin: 0;
    padding: 0;
    border-width: 0;
}

h1 {
    /* background-color: darkorange; */
}

.blog-container {
    width: 70%;
    /* background-color: aqua; */
    margin: auto;
}

.blog-container h1 {
    font-size: 42px;
    /* background-color: sandybrown; */
    color: purple;
    text-transform: uppercase;
}

.article-container {
    /* padding: 20px; */
    box-sizing: border-box;
    /* padding: 5%; */
    width: 80%;
    /* background-color: chocolate; */
    margin: auto;

}

.link-article-post {
    text-decoration: none;
    color: #222;
}

.blog-container .article-container article {
    /* background-color: crimson; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    /* color: #F6921D; */
    border-bottom: 2px solid #ffca8d;
    padding: 30px 60px;
}

.blog-img-container {
    width: 200px;
    height: 180px;
    background-color: blue;
    /* display: inline-block; */

    box-sizing: border-box;
    vertical-align: top;

}

.blog-article-content {

    /* background-color: chartreuse; */
    /* display: inline-block; */
    width: 80%;
    height: 180px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}

.blog-article-title {
    margin-left: 40px;
    font-size: 26px;
    font-weight: bold;
    color: #e67d06;

}

.blog-article-content p {
    /* background: cadetblue; */
    height: 115px;
    overflow: hidden;
    text-align: justify;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 40px;
    font-size: 17px;
    font-family: 'roboto';
    line-height: 150%;
    width: 80%;
}

.blog-date {
    /* vertical-align: bottom; */
    /* background-color: crimson; */
    /* line-height: 150%; */
    position: absolute;
    display: inline-block;
    /* top: 0; */
    bottom: 0px;
    /* top: 10px; */
    width: 100%;
    /* line-height:0.8; */
    line-height: 0.8;
    overflow: hidden;
    font-size: 18px;
    margin-left: 40px;
    color: rgb(104, 104, 104);
    font-style: italic;

}







.nav-blog-articles {

    height: 50px;
    width: 600px;
    /* background-color: green; */
    /* left: 50%;
    transform: translate(-50%, 0); */
    /* position: absolute; */
    margin: auto;
    margin-top: 70px;
    margin-bottom: 140px;
    text-align: center;
    
    /* padding: 20px; */
}

.nav-blog-articles ul {
    position: relative;
    margin: auto;
    
}

.nav-blog-articles ul li {
    /* background-color: greenyellow; */

    display: inline-block;

}


.nav-blog-articles ul li a {
    text-decoration: none;
    font-size: 26px;
    /* height: 24px; */
    /* height: 30px ; */
    padding: 7px 6px;
    color: rgb(46, 46, 46);

    display: inline-block;



}

.nav-blog-articles ul li a:hover {
    border-radius: 8px;
    background-color: rgb(107, 107, 107);
    color: rgb(245, 245, 245);
}



.nav-blog-articles ul li a[active] {
    background-color: rgb(46, 46, 46);
    border-radius: 8px;
    color: rgb(245, 245, 245);
}

.nav-blog-articles ul li .next-page{
    font-size: 40px;
    margin-left: 20px;
    line-height: 40px;
}
.nav-blog-articles ul li .prev-page{
    line-height: 40px;
    font-size: 40px;
    margin-right: 30px;
    /* background-color: turquoise; */
}

.nav-blog-articles ul li span{
    font-size: 19px;
}