* {
    padding: 0;
    margin: 0;
}

.jumbotron_index {
    top: 70px;
    padding: 50px 0;
    width: 100%;
    height: 600px;
    /* background-color: orange; */
    background-color: #F6921D;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    line-height: 2.1;
}

.jumbotron_index p {
    color: #2F2F2F;
    margin: 0px 10%;
    /* text-align: justify; */
    text-justify: center;
    font-size: 16px;
}

.jumbotron_index hr{
    width: 400px;
    margin: auto;
    /* border-width: 10px; */
    height: 1px;
    /* text-overflow: ellipsis; */
    color: purple;
    border-width: 0;
    background-color: purple;
    
}

.jumbotron_index .jumbo_title {
    /* font-weight: bold; */
    color: #602749;
    font-size: 46px;
}

.jumbotron_index .jumbo_subtitle{
    font-size: 36px;
}

.jumbotron_index .btn_jumbo {
    padding: 10px 15px;
    text-decoration: none;
    /* background-color: black; */
    color: white;
    border: solid white 2px;
    border-radius: 1px;
    text-transform: uppercase;

}

.jumbotron_index .btn_jumbo:hover {
    color: #F6921D;
    background-color: white;
    transition: all .2s;
}

@media(max-width:1300px){
    .jumbotron_index {
        padding: 45px 0;
        line-height: 1.9;
    }
}

@media(max-width:990px){
    .jumbotron_index {
        padding: 40px 0;
        line-height: 1.7;
        height: 550px;
    }
}


@media(max-width:790px){
    .jumbotron_index {
        padding: 35px 0;
        line-height: 1.5;
    }
}

@media(max-width:560px){
    .jumbotron_index {
        padding: 30px 0;
        line-height: 1.3;
    }
}

@media(max-width:330px){
    .jumbotron_index {
        padding: 25px 0;
        font-size: 14px;
        line-height: 1.1;
    }
}