/*  esse é o css do menu teste 10 */
@media(max-width:1080) {}

* {
    margin: 0;
    padding: 0;
}

.wall_hlwn {
    background-color: royalblue;
    background-image: url(../images/background/wall.png);
    /* height: 100px; */
    /* height: auto; */
    background-repeat: no-repeat;
    background-size: contain;
    /* height 544 é o height correto utilizado */
    /* height: 544px; */
    /* max-height: 544px; */
    width: 100%;
    aspect-ratio: 1913 / 547;
    /* height: 200px; */
    vertical-align: top;
    /*  mudar se nao resolver */
    position: relative;
}

#home {
    display: none;
}





.vertical {
    display: none;
}

.horizontal {
    display: block;
}

.menu {
    background-color: #222;
    opacity: 0.95;
    height: 80px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    left: 0;
    right: 0;
    /* left: 50%;
    transform: translate(-50%, 0); */
    bottom: 0;
    /* position: absolute; */
    position: absolute;
    /*  ADICIONADO DEPOIS -- IMPORTANTISSIMO */
    z-index: 1;
    /* position: relative; */

}

.menu ul {
    list-style: none;
    position: relative;
    z-index: 1;
}

.menu ul li {
    width: 150px;
    /* float: left; */
    float: right;
    

}

.menu a {
    height: 80px;
    box-sizing: border-box;
    /* padding: 15px; */
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
    line-height: 80px;
    
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
    
    
}


.menu ul li:hover ul {
    visibility: visible;
    
    
}

/* .menu ul li:<when clicked> ul {
    visibility: visible;
} */

.menu a:hover {
    background-color: rgb(20, 20, 20);
}

.menu .dropdown:hover {
    background-color: #B14623;
}

.menu #home:hover {
    background-color: #36182C;

}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
    background: #069;
    background: #F6921D;
}

label[for="bt_menu"] {
    padding: 5px;
    background: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 80px;

}


#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
}

/*   --------------------------------     A PARTIR DAQUI FICA VERTICAL  -------------------- */

@media(max-width: 1180px) {

    .vertical {
        display: block;
    }

    .horizontal {
        display: none;
    }



    .menu {
        height: 0;
        /* left: none;
    transform: none; */
        opacity: 1;
        
    }

    .menu a {
        opacity: 1;
    }

    .logo {
        position: absolute;
        margin-right: 0;
        /* height: 80px;
        box-sizing: border-box;
        color: white; */
        /* line-height: 60px; */
        right: 0;
        display: none;
        /* top: 0; */
    }


    #home {
        display: block;
        background-color: #602749;
    }


    /* #logo
        float: right;
        display: block;
        color: rgb(251, 255, 0);
     */


    label[for="bt_menu"] {
        /* opacity: 0.5; */
        display: block;
        width: 90%;
        margin: auto;
        text-align: left;
        padding: 20px;
        box-sizing: border-box;
        /* background-color: salmon; */
        left: 50%;
        transform: translate(-50%, 0);
        /* position: absolute; */
        bottom: 0;
        position: absolute;
    }


    #bt_menu:checked~.menu {
        margin-left: 5%;
        width: 90%;
    }

    .menu {
        margin-top: 0px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li {
        width: 100%;
        float: none;
    }

    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;

    }

    .menu ul li:hover ul {
        height: auto;
        max-height: 240px;
    }
}


.bg_hlw {
    width: 100%;
    margin: 0;
    vertical-align: top;
}


/* ============================================================ */
/* ============================================================ */
/* ============================================================ */

.divTeste {
    background: chocolate;
    width: 300px;
    height: 300px;
}

.logo {
    background-color: #222;
    margin-left: 0;
    position: absolute;
    height: 80px;
    box-sizing: border-box;
    color: white;
    line-height: 80px;
    /* float: left; */
    /* clear: both; */
    padding: 0 25px;
}

@media(max-width: 520px) {
    .menu {
        width: 100%;

    }

    #bt_menu:checked~.menu {
        margin: 0%;
        width: 100%;
    }

    label[for="bt_menu"] {
        width: 100%;
        transition: all .4s;
    }
}